<!-- Movie title -->
<h2>{{title}}</h2>

<!-- Movie picture -->
<img src={{imgUrl}}>

<!-- Hint displays when button pressed -->
<p id="hint"></p>

<!-- Guessing the movie -->
<form method="POST" action="/guess">
  {{#each choice}}
    <input name="answer" type="radio" value='{{this}}'> {{this}}<br>
  {{/each}}
  <button type="submit">Submit</button>
</form>

<!-- Hint button -->
<script>
  var HINT = "{{overviewHint}}";
</script>
<button type="button" onclick="getHint(HINT)">Hint</button>
