<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4">
        <h2>What the Flick? {{title}}</h2>
    </div>
    <div class="col col-4"></div>
</div>

<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4"><img src={{imgUrl}}></div>
    <div class="col col-4"></div>
</div>

<div class="row">
  <div class="col col-12">
    <p id="hint"></p>
  </div>
</div>

<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4"><h3>"Tagline Here, if there ever was a tagline here"</h3></div>
    <div class="col col-4"></div>
</div>

<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4">
        <form method="POST" action="/guess">
            <label>Type in movie here: </label>
            <input name="answer" type="text">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="col col-4"></div>
</div>

<form method="POST" action="/guess">
  {{#each choice}}
    <input name="answer" type="radio" value='{{this}}'> {{this}}<br>
  {{/each}}
  <button type="submit">Submit</button>
</form>

<script>
  var hint = "{{overviewHint}}";
  var replaceWord = /{{title}}/gi;
  hint = hint.replace(replaceWord, "___");
</script>
<button type="button" onclick="getHint(hint)">Hint</button>
