<div class="row top-margin">
    <div class="col col-4"></div>
    <div class="col col-4 text-center">
        <h2 class="heading">What the Flick? {{title}}</h2>
    </div>
    <div class="col col-4"></div>
</div>

<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4"><img id="poster" src={{imgUrl}}></div>
    <div class="col col-4"></div>
</div>
<div class="row top-margin">
    <div class="col col-4"></div>
    <div class="col col-4"><p id="hint"></p></div>
    <div class="col col-4"></div>
</div>

<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4"><h3>"A SUPR FECKN McDOPE TAGLINE WILL GO HERE SOON"</h3></div>
    <div class="col col-4"></div>
</div>

<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4 text-left">
        <form method="POST" action="/guess">
            {{#each choice}}
                    <input name="answer" type="radio" value='{{this}}'> <div id="ansr-choice">{{this}}</div><br>
            {{/each}}
            <button id="fix-button" type="submit" id="fix-button">Submit</button>
            <button id="fix-button" type="button" onclick="getHint(hint)">Hint</button>
    </div>
    <div class="col col-4"></div>
</div>

</form>
<script>
  var hint = "{{overviewHint}}";
  var replaceWord = /{{title}}/gi;
  hint = hint.replace(replaceWord, "___");
</script>
