<div class="row top-margin">
    <div class="col col-4"></div>
    <div class="col col-4 text-center">
        <h2 class="heading">What the Flick? {{title}}</h2>
    </div>
    <div class="col col-4"></div>
</div>

<div class="row top-inside-margin">
    <div class="col col-4"></div>
    <div class="col col-4"><img id="poster" src={{imgUrl}}></div>
    <div class="col col-4"></div>
</div>

<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4"><p id="hint"></p></div>
    <div class="col col-4"></div>
</div>

<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4 text-left" id="multipleChoices">
        <form method="POST" action="/guess">
            {{#each choice}}
                <div id="ansr-choice"><input name="answer" type="radio" value='{{this}}'>{{this}}</div><br>
            {{/each}}
            <button id="submit-button" type="submit">Submit</button>
            <button id="hint-button" type="button" onclick="getHint(hint)">Hint</button>
    </div>
    <div class="col col-4"></div>
</div>

</form>
<script>
  var hint = "{{overviewHint}}";
  var replaceWord = /{{title}}/gi;
  hint = hint.replace(replaceWord, "___");
</script>
