<div class="row top-margin">
    <div class="col col-4"></div>
    <div class="col col-4 text-center">
        <h2>What the Flick? {{title}}</h2>
    </div>
    <div class="col col-4"></div>
</div>

<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4"><img src={{imgUrl}}></div>
    <div class="col col-4"></div>
</div>
<div class="row top-margin">
    <div class="col col-4"></div>
    <div class="col col-4"><p id="hint"></p></div>
    <div class="col col-4"></div>
</div>

<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4"><h3>"A SUPER McDOPE TAGLINE WILL GO HERE SOON"</h3></div>
    <div class="col col-4"></div>
</div>

<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4 text-left">
        <form method="POST" action="/guess">
            {{#each choice}}
                    <input name="answer" type="radio" value='{{this}}'> {{this}}<br>
            {{/each}}
            <button type="submit">Submit</button>
            <button type="button" onclick="getHint(HINT)">Hint</button>
        </form>
    </div>
    <div class="col col-4"></div>
</div>

<script>
  var hint = "{{overviewHint}}";
  var replaceWord = /{{title}}/gi;
  hint = hint.replace(replaceWord, "___");
</script>
